@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to MVC</h1>
   @*  <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>

<form action="Home/DoLogin">
    <div>
        <div>
            <label for="txtUser">User Name:</label>
            <input type="text" name="txtUser" id="txtUser" required placeholder="Enter UserID" />
        </div>
        <div>
            <label for="txtpwd">Password:</label>
            <input type="password" name="txtpwd" id="txtpwd" required placeholder="Enter Password" />
        </div>
        <div>
            <input type="submit" value="Login" />
        </div>
    </div>
</form>


<div>
    <a href="Home/SayHello?name=Suganth">SayHello</a>  <!-- SayHello is the view-->

</div>
<div>
    <a href="Home/Add?x=100&y=200">Add</a>    <!-- "View Folder Name/Action Name"-->
</div>

<div>
    <a href="Home/Multiply?x=100&y=200">Multiply</a>
</div>

<div>
    <a href="Home/Divide?x=100&y=200">Divide</a>
</div>

<div>
    <a href="Home/AddNewBook">New Book</a>
</div>

<div>
    <a href="Home/ListAllBook">All Books</a>
</div>

<div>
    <a href="Author/CreateAuthor">Create Author</a>
</div>

<div>
    <a href="Author/ListAllAuthor">All Authors</a>
</div>

<div>
    <a href="AuthorController1">Author Landing Page</a>
</div>

<div>
    <a href="AuthorController1/Index">Author Index Page</a>
</div>

<div>
    <a href="AuthorController1/Create">Save New and Get Author</a>
</div>

<div>
    <a href="Emp/Index">List employess from Db</a>
</div>

<div>
    <a href="Emp/Create">Create a Employee</a>
</div>

<div>
    <a href="Movie/Index">Index Page: Get Movies</a>
</div>

<div>
    <a href="Movie/Create">Add Movie</a>
</div>
