
@{
    ViewData["Title"] = "GetTime";
}


<h1>Time: @ViewData["date"]</h1>

<div>

    <form action="GetTime">

        <input class="btn btn-danger" type="submit" value="Hit me🤣🤣" />

    </form>

</div>

