

<h1>Menu</h1>
<div class="text-center"><h1 class="display-4">Welcome</h1></div>
<div class="jumbottom">
    <div>INR:&#8377</div>

    <a asp-action="Echo" asp-route-name="Suganth"
       asp-route-city="Chennai">Call Echo</a>
    <a asp-action="SayHello" asp-route-name="Suganth">Call SayHello</a>
</div>


