
@{
    ViewData["Title"] = "Tabs";
}

<div>
    <!-- Tab Buttons-->
    <!-- # is the selector which refer to the id in below container(id)-->
    <ul id="tabstrip" class="nav nav-tabs" role="tablist">

        <li class="active">
            <a href="#_FirstTab" role="tab" data-toggle="tab">Submission</a>

        </li>

        <li>
            <a href="#_SecondTab" role="tab" data-toggle="tab">Search</a>

        </li>

        <li>
            <a href="#_ThirdTab" role="tab" data-toggle="tab">Comments</a>

        </li>

    </ul>
</div>

<!-- Tab Content Containers-->
<div class="tab-content">
    <div class="tab-pane fade in active" id="_FirstTab">
        <partial name="Score" />

    </div>

    <div class="tab-pane fade" id="_SecondTab">
        <partial name="ChildList" />

    </div>

    <div class="tab-pane fade" id="_ThirdTab">
        <partial name="ChildViewdata" view-data="ViewData" />
    </div>
</div>
<hr />
<partial name="Score" />
<partial name="ChildList" />
<partial name="ChildViewdata" view-data="ViewData" />
