@model NWindBackwardEnginerring.Models.CustomerViewModel

<div>
	<h4>Customers</h4>
	<hr />
	<form asp-controller="Customer" method="post" asp-action="Details">
		<select asp-for="Id" asp-items="Model.CustomerNamesList">
		</select>
		<button type="submit">Details</button>
	</form>
</div>
