@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
   @*  <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@
</div>

<div>
    <a href="Doctor/Create">Create Doctor</a>
</div>

<div>
    <a href="Doctor/Index">Index Doctor</a>
</div>

<div>
    <a href="Patient/Create">Create Patient</a>
</div>

<div>
    <a href="Patient/Index">Index Patient</a>
</div>
<div>
    <a href="Appointment/Create">Create Appointment</a>
</div>
<div>
    <a href="Appointment/Index">Index Appointment</a>
</div>